<section id="footer" class="footer" ng-if="ctrl.loading === null || ctrl.loading === false">
  <div class="container">
    <div class="row">
             <div class="col-lg-4  col-md-2 col-sm-4 col-xs-6 mx-auto">
                    <h3 style="font-family: 'Open Sans', sans-serif; font-weight:bold; color:white" href="/" ng-click="ctrl.changeSearch()"><i class="fas fa-plane"></i> Flight Finder</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
             </div>
             <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6 mx-auto">
               <i class="fas fa-phone-square fa-3x" style="padding-bottom:10px"></i>
                 <h3> Phone </h3>
                 <ul>
                     <li> <a href="#"> (678) 622 1921 </a> </li>
                 </ul>
             </div>
             <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6 mx-auto">
                  <i class="fas fa-envelope fa-3x" style="padding-bottom:10px"></i>
                 <h3> Contact </h3>
                 <ul>
                     <li> <a href="#"> benjamin.peters@gmail.com </a> </li>
                 </ul>
             </div>
             <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6 mx-auto">
                 <h3> Around The Web </h3>
                 <ul>
                     <li> <a href="#"> Facebook </a> </li>
                     <li> <a href="#"> Instagram </a> </li>
                     <li> <a href="#"> GitHub </a> </li>
                 </ul>
             </div>
         </div>
         <!--/.row-->
     </div>
     <!--/.container-->
</section>
